.App {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.cake-button, .iceCream-button {
  margin: 50px;
  text-decoration: none;
}

.cake-container,.iceCream-container {
  display: inline-block;
  width: 300px;
  height: 100px;
  border: 2px solid gray;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 10px #888888;
}

.out-of-stock {
  padding: 50px;
  background-color: gray;
  color: #fff;
}
